{% extends 'main/layout.html' %}

{% block content %}
    <br><h2 class="text-center">Руководство пользователя</h2><br>
    <div class="text-center">1. Загрузите таблицу, которая содержит ваши данные<br>
      2. Введите название столбцов, которые являются индексами для решаемой задачи оптимизации<br>
      3. Введите название столбца, являющегося оптимизируемой переменной<br>
      4. Введите целевую функцию и выберите критерий оптимизации<br>
  </div><br>
    <form method = "post", enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.path }}<br>
    {% if not d %}
    <button class="btn btn-success" type="submit" onclick="this.style.display='none';">Загрузить</button>
    {% endif %}
    </form>   
{% endblock %}